# Node
node_modules/
dist/
build/
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
backend/database.db
frontend/public/vignan_logo.png
frontend/public/vignan_logo_preview.png
